.page-info {
  border: 0;
  border-left: 3px solid;
  border-radius: 0;
}

.row-order {
  background-color: #ededed !important;
}

.add-order {
  color: #000;
}

h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 56pt;
  font-weight: 800;
}

h2{
  font-size: 32pt;
}

h3{
  font-size: 24pt;
  font-weight: 400!important;
  font-family: 'PT Sans', sans-serif;
}

.tambah{
  color: #a8a8a8!important;
  text-decoration: none;
}

.tambah:hover{
  color: #1f1f1f!important;
  text-decoration: none;
}

.page-info-body {
  padding-top: 0;
  padding-bottom: 0;
}

.page-info-title {
    font-family: 'PT Sans';
    font-size: 18pt;
}

.form-control {
  border-radius: 50px;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.end {
  display: flex;
  justify-content: end;
}

.btn-success {
  color:#000;
  background-color: #C1CD97;
  border-color: #C1CD97;
  border-radius: 15px;
}

.menu-card {
  flex-basis: 33%;
  padding: 30px;
}

.menu-card-deck {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.menu-img {
  height: 180px;
}

.menu-title {
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .menu-card {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu-card {
    flex-basis: 50%;
  }
}
