{% extends 'template.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'menu.css' %}">

<div class="container">
  <div class="menu-card-deck">
    {% for menu_items in menu %}
      <div class="menu-card mb-4">
        <div class="card">
          <img src="{{ menu_items.gambar }}" class="card-img-top menu-img">
          <div class="card-body">
            <h5 class="card-title menu-title"> {{ menu_items.nama }} </h5>
            <p class="card-text">Rp {{menu_items.harga}} </p>
            <br />
            <p class="card-text"> Stok: {% if menu_items.stok > 0 %} Ada {% elif menu.items.stok < 0 %} Tidak Ada
              {% endif %} </p>
          </div>
        </div>
        <div class="flex-col mt-3">
          <div class="row center mb-3">
            <form action="{% url 'makanan' %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-primary" id='btn-gray' type="submit" value="Detail" />
            </form>
          </div>
          <div class="row center pb-1">
            <form action="{% url 'add_menu_form' %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-primary" type="submit" value="Pilih" />
            </form>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
  <br />

    <div class="row center pb-1">
      <form action="{% url 'add_menu_form' %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Tambah Menu"/>
      </form>
    </div>
</div>

{% endblock %}
