{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="row flex-col-rev">
    <div class="col">
        <div class="pr-5 mt-5 mb-5">

                <div class="page-header flex-row ml-4 mb-5 mt-4">
                    <div class="vr-line mr-4"></div>
                    <div class="header-text flex-col width-150px">
                        <h3>{food.nama}</h3>
                        <p class="p20">Rp. {food.harga}</p>
                    </div>
                </div>
            
                <div id="food-desc" class="mb-5">
                    <b class="p16">Deskripsi:</b>
                    <p>{food.deskripsi}</p>
                </div>
            
                <div id="food-component" class="mb-5">
                    <b class="p16">Stok:</b>
                    <p>{food.stok}</p>
                </div>

                <form action="{% url 'index_canteen' %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Kembali"/>
                </form>
        </div>
    </div>

    <div class="col-md mr-auto height-img pd-0 flex-right" >
            <img src="{food.gambar}" alt="" class="food-img">
    </div>


</div>

{% endblock %}