{% extends 'home.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'menu.css' %}">

	<div class="container mb-5">
		<div class="menu-card-deck">
		{% for canteen in canteens %}
		<div class="menu-card">
		<a href="{% url 'detail_kantin' canteen.slug %}" class='card-link'>
		  <div class="card">
		    <img src= "{{ canteen.gambar }}" class="card-img-top menu-img">
		    <div class="card-body">
		      <h5 class="card-title menu-title"> {{ canteen.nama }} </h5>
		      <p class="card-text"> {{ canteen.jam_buka }} - {{ canteen.jam_tutup }} </p>
		      <br/>
		      <p class="card-text"> Kategori: {{ canteen.kategori }} </p>
		    </div>
		  </div>
		</a>
		</div>
		{% endfor %}
		</div>
		<br/>
		<div class="row center">
			<form action="{% url 'add_canteen_form' %}" method="POST">
				{% csrf_token %}
				<input class="btn btn-primary" type="submit" value="Tambah Kantin"/>
			</form>
		</div>
	</div>
{% endblock %}
