{% extends 'template.html' %}
{% load static %}

{% block content %}

    <div class="row pl-5 mb-4">
        <div class="col-sm pt-5 mb-5 mr-5 pl-5">
            <h1>Pesan, Bayar, dan Ambil!</h1>
            <p class='mb-5 mt-3' id='small-desc'>Tak perlu antri, tinggal bayar, dan tunggu pesananmu
                dimasak. Sebuah inovasi oleh Mahasiswa Fasilkom UI.</p>
                <form action="{% url 'index_canteen' %}"  method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Order Sekarang</button>
            </form>
        </div>

        <div class="col-md mr-auto height-img pd-0 flex-right none" >
            <img src="{% static 'sate.jpg' %}" alt="" class="food-img">
        </div>

    </div>
    <div class="row flex-col-rev pl-5 pr-5">
        <div class="col-sm flex-col">
            <div class="why-desc mb-3">
                <img class="why-img mr-4" src="{% static 'like.svg' %}" alt="">
                <div class="text-desc">
                    <h2 class="green-bold mb-3">Praktis</h2>
                    <p class="green-font p16">Beli makanan yang kamu mau tinggal pesan, bayar, lalu ambil deh! Simple
                        kan?</p>
                </div>
            </div>
                <div class="why-desc mb-3">
                    <img class="why-img mr-4" src="{% static 'clock.svg' %}" alt="">
                    <div class="text-desc">
                        <h2 class="green-bold mb-3">Cepat</h2>
                        <p class="green-font p16">Sedang sibuk tapi pengen mesen makan? Tinggal pesen dan ambil aja tanpa harus ngantri lama!</p>
                    </div>
                </div>
                <div class="why-desc mb-3">
                    <img class="why-img mr-4" src="{% static 'wallet.svg' %}" alt="">
                    <div class="text-desc">
                        <h2 class="green-bold mb-3">e-Wallet</h2>
                        <p class="green-font p16">Kantin Fasilkom bisa pake e-wallet yang punya banyak promo loh! Jadinya gaperlu cape-cape dateng ke counter deh!</p>
                    </div>
                </div>
        </div>

        <div class="col-sm mb-5" id="mengapa-kane">
            <div class="vr-line mr-5 extend-line"></div>
            <h1 id="why">Mengapa pesan menggunakan
                <span class="green-bold">kane.</span>?</h1>
        </div>
    </div>
</div>


{% endblock %}